<!-- Title -->
<div class="row">
  <div class="col-lg-12">
    <h3>Latest Features</h3>
  </div>
</div>
<!-- /.row -->

<!-- Page Features -->
<div class="row text-center">
  <% @products.each do |product| %>
  <div class="col-md-3 col-sm-6 hero-feature">
    <div class="thumbnail">
      <%= image_tag(product.image) %>
      <div class="caption">
        <h5><%= product.name %></h5>
        <p><%= product.description %></p>
        <p>
          <%= link_to("More info", product_path(product), :class=>"btn btn-default") %>
          <a href="#" class="btn btn-primary">Buy Now!</a>
        </p>
      </div>
    </div>
  </div>
  <% end %>
</div>